.treetable {
}

    .treetable > tbody > tr {
    }

        .treetable > tbody > tr.l1 {
            background-color: #d1d1d1;
            font-weight: bold;
        }

        .treetable > tbody > tr.l2 {
            background-color: #d8d8d8;
        }

        .treetable > tbody > tr.l3 {
            background-color: #e1e1e1;
        }

        .treetable > tbody > tr.l4 {
            background-color: #e8e8e8;
        }

        .treetable > tbody > tr.l5 {
            background-color: #f1f1f1;
        }

        .treetable > tbody > tr.l6 {
            background-color: #f8f8f8;
        }

        .treetable > tbody > tr.l7 {
            background-color: #fbfbfb;
        }

        .treetable > tbody > tr > td > div.template {
            display: inline-block;
        }

        .treetable > tbody > tr > td:first-child > a.treetable-toggle {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-position: center center;
            vertical-align: middle;
        }

            .treetable > tbody > tr > td:first-child > a.treetable-toggle.expand {
                background-image: url(images/toggle-exp-dark.png);
            }

            .treetable > tbody > tr > td:first-child > a.treetable-toggle.collapse {
                background-image: url(images/toggle-col-dark.png);
            }
