<!DOCTYPE html>
<html lang="en" data-ng-app="project">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TreeTable</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="css/bootstrap/bootstrap-theme.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/project.css" rel="stylesheet" />
    <link href="css/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
    <link href="css/fixedtable.css" rel="stylesheet" />

    <style type="text/css">
        table.table td,
        table.table th {
            background-color: white;
        }

        table.table {
            margin: 10px;
        }
    </style>
</head>

<body style="">

    <!-- Wrap all page content here -->
    <div id="wrap">

        <!-- Fixed navbar -->

        <!-- Begin page content -->
        <div class="container" data-ng-controller="fixedTableController">
            <div class="page-header">
                <h1>Demonstração Fixed Table</h1>
            </div>
            <p class="lead">Fixed Table feita em Angular JS.</p>
            <button data-ng-click="rowsCount = rowsCount + 1">Adicionar linha</button>
            <button data-ng-click="rowsCount = rowsCount - 1">Remover linha</button><br />
            <button data-ng-click="columnsCount = columnsCount + 1">Adicionar coluna</button>
            <button data-ng-click="columnsCount = columnsCount - 1">Remover coluna</button>
            <br />
            <button data-ng-click="fixedColumnsCount = fixedColumnsCount + 1">Adicionar coluna fixa</button>
            <button data-ng-click="fixedColumnsCount = fixedColumnsCount - 1">Remover coluna fixa</button>
            <table class="table table-bordered" data-fixed-table="fixedTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th data-ng-repeat="col in columns">{{col}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="row in rows">
                        <td>{{row.id}}</td>
                        <td data-ng-repeat="col in columns">{{col}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <p class="text-muted credit">Keeple Controls</p>
        </div>
    </div>

    <!--Arquivo gerado pelo grunt: "grunt dev"-->
    <script src="js/development/3rd/jquery-2.0.3.js"></script>
    <script src="js/development/3rd/jquery-ui-1.10.3.custom.js"></script>
    <script src="js/development/3rd/angular.js"></script>
    <script src="js/development/3rd/bootstrap.js"></script>
    <script src="js/development/3rd/angular-sanitize.js"></script>
    <!--Arquivo gerado pelo grunt: "grunt dev"-->
    <script src="js/development/controls/fixedtable/FixedTableModulesInitialization.js"></script>
    <script src="js/development/controls/fixedtable/directives/FixedTableDirective.js"></script>
    <script src="js/development/controls/fixedtable/services/FixedTableHelperFactory.js"></script>
    <script src="js/development/controls/fixedtable/services/FixedTablePositionCalculatorFactory.js"></script>
    <script src="js/development/controls/fixedtable/services/FixedTablePositionUpdaterFactory.js"></script>
    <script src="js/development/controls/fixedtable/services/FixedTableCustomScrollFactory.js"></script>


    <script src="js/development/pages/fixedtable.js"></script>
    <script src="data/tests/itens.js"></script>
</body>
</html>
