<!DOCTYPE html>
<html lang="en" data-ng-app="project">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TreeTable</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/project.css" rel="stylesheet" />
    <link href="css/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
    <link href="css/flat-ui/flat-ui.css" rel="stylesheet" />

    <link href="css/keeple.controls.tree-table.css" rel="stylesheet" />

    <style type="text/css">
        /*.tree-table > tbody > tr.l1 {
            background-color: #d1d1d1;
            font-weight: bold;
        }

        .tree-table > tbody > tr.l2 {
            background-color: #d8d8d8;
        }

        .tree-table > tbody > tr.l3 {
            background-color: #e1e1e1;
        }

        .tree-table > tbody > tr.l4 {
            background-color: #e8e8e8;
        }

        .tree-table > tbody > tr.l5 {
            background-color: #f1f1f1;
        }

        .tree-table > tbody > tr.l6 {
            background-color: #f8f8f8;
        }

        .tree-table > tbody > tr.l7 {
            background-color: #fbfbfb;
        }*/
    </style>
</head>

<body style="">

    <!-- Wrap all page content here -->
    <div id="wrap">

        <!-- Begin page content -->
        <div class="container" data-ng-controller="project.controller.tree-table.main">
            <div class="page-header primary mtn">
                <h1>Demonstração Tree Table</h1>
            </div>
            <p class="lead">Tree Table feita usando Angular JS e Bootstrap.</p>
            <div class="col-sm-6">
                <table data-tree-table="" data-options="treeTable" class="tree-table table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Fabricante / Celular</th>
                            <th>Ano de Fabricação</th>
                            <th>CPU</th>
                            <th>Memoria</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="item in treeTable.processedItens" data-tree-table-row="item" data-ng-switch="item.tipo">
                            <td colspan="4" data-ng-switch-when="Fabricante">{{item.nome}}</td>
                            <td data-ng-switch-when="Celular">{{item.nome}}</td>
                            <td data-ng-switch-when="Celular">{{item.ano}}</td>
                            <td data-ng-switch-when="Celular">{{item.cpu}}</td>
                            <td data-ng-switch-when="Celular">{{item.memoria}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert-danger pal">
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    É necessário o preenchimento dos campos "nodeId" e "parentNodeId" nos itens passados para a Tree Table.
                </div>
                <hr />
            </div>
            <div class="col-sm-6">
                <h6 class="mtn">HTML:</h6>
                <pre style="font-family: Consolas; font-size: 13; color: black; background: white;"><span style="color:blue;">&lt;</span><span style="color:maroon;">table</span>&nbsp;<span style="color:red;">data-tree-table</span><span style="color:blue;">=</span><span style="color:blue;">&quot;&quot;</span>&nbsp;<span style="color:red;">data-options</span><span style="color:blue;">=</span><span style="color:blue;">&quot;treeTable&quot;</span>&nbsp;<span style="color:red;">class</span><span style="color:blue;">=</span><span style="color:blue;">&quot;tree-table&quot;</span><span style="color:blue;">&gt;</span>
</pre>
                <pre style="font-family: Consolas; font-size: 13; color: black; background: white;"><span style="color:blue;">&lt;</span><span style="color:maroon;">tr</span>&nbsp;<span style="color:red;">data-ng-repeat</span><span style="color:blue;">=</span><span style="color:blue;">&quot;item&nbsp;in&nbsp;treeTable.processedItens&quot;</span>&nbsp;<span style="color:red;">data-tree-table-row</span><span style="color:blue;">=</span><span style="color:blue;">&quot;item&quot;</span><span style="color:blue;">&gt;</span>
</pre>
                <h6>JS:</h6>
                <pre style="font-family: Consolas; font-size: 13; color: black; background: white;">angular.module(<span style="color:#a31515;">&#39;project&#39;</span>,&nbsp;[<span style="color:#a31515;">&#39;keeple.controls.tree-table&#39;</span>])
</pre>
                <pre style="font-family: Consolas; font-size: 13; color: black; background: white;">$rootScope.$on(<span style="color:#a31515;">&#39;treeTableReady&#39;</span>,&nbsp;<span style="color:blue;">function</span>&nbsp;()&nbsp;{
&nbsp;&nbsp;&nbsp;&nbsp;$scope.treeTable.itens&nbsp;=&nbsp;itens;
});</pre>
                <pre style="font-family: Consolas; font-size: 13; color: black; background: white;">$scope.treeTable&nbsp;=&nbsp;{
&nbsp;&nbsp;&nbsp;&nbsp;itens:&nbsp;[],
&nbsp;&nbsp;&nbsp;&nbsp;options:&nbsp;{
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;lazyLoad:&nbsp;<span style="color:blue;">true</span>
&nbsp;&nbsp;&nbsp;&nbsp;},
&nbsp;&nbsp;&nbsp;&nbsp;loadChildren:&nbsp;<span style="color:blue;">function</span>&nbsp;(parentItem,&nbsp;callback)&nbsp;{
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;parentItem.children&nbsp;=&nbsp;getChildren(parentItem.nodeId);
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;callback(<span style="color:blue;">true</span>);
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$scope.$apply();
&nbsp;&nbsp;&nbsp;&nbsp;}
};</pre>
            </div>

            <div data-ng-modal="" data-title="modal.title" data-show="modal.show">
                <div data-ng-if="modal.item.level > 1">
                    <div>Modelo: {{modal.item.columns[0].value}}</div>
                    <div>Ano de Fabricação: {{modal.item.columns[1].value}}</div>
                    <div>Chipset: {{modal.item.columns[2].value}}</div>
                    <div>Memória: {{modal.item.columns[3].value}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-menu bottom-menu-inverse pal">
        <div class="container">
            <span class="text-muted">Keeple Controls</span>
        </div>
    </div>

    <!--Arquivo gerado pelo grunt: "grunt dev"-->
    <script src="js/development/3rd/jquery-2.0.3.js"></script>
    <script src="js/development/3rd/angular.js"></script>
    <script src="js/development/3rd/bootstrap.js"></script>
    <script src="js/development/3rd/angular-sanitize.js"></script>
    <!--Arquivo gerado pelo grunt: "grunt dev"-->
    <script src="js/development/controls/tree-table/tree-table.module.initialization.js"></script>
    <script src="js/development/controls/tree-table/tree-table.controller.main.js"></script>
    <script src="js/development/controls/tree-table/tree-table.controller.row.js"></script>
    <script src="js/development/controls/tree-table/tree-table.directive.main.js"></script>
    <script src="js/development/controls/tree-table/tree-table.directive.row.js"></script>
    <script src="js/development/controls/tree-table/tree-table.templates.js"></script>

    <script src="js/development/pages/tree-table.js"></script>
    <script src="data/tests/itens.js"></script>
</body>
</html>
