table.tree-table > tbody > tr.tree-table-loading {
    background-color: white;
}

    table.tree-table > tbody > tr.tree-table-loading span.loading-animation {
        background-image: url(images/loader.gif);
    }

.tree-table > tbody > tr.l2 > td:first-child {
    padding-left: 20px;
}

.tree-table > tbody > tr.l3 > td:first-child {
    padding-left: 40px;
}

.tree-table > tbody > tr.l4 > td:first-child {
    padding-left: 60px;
}

.tree-table > tbody > tr.l5 > td:first-child {
    padding-left: 80px;
}

.tree-table > tbody > tr.l6 > td:first-child {
    padding-left: 100px;
}

.tree-table > tbody > tr.l7 > td:first-child {
    padding-left: 120px;
}

.tree-table > tbody > tr > td:first-child > .tree-table-toggle {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: center center;
    vertical-align: middle;
    cursor: pointer;
}
