.fixed-notification {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    z-index: 999;
}

    .fixed-notification > ul {
        list-style: none;
        margin: 0;
        padding: 0 10px;
    }

.fixed-notification-repeat {
    list-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: relative;
}

    .fixed-notification-repeat.ng-move,
    .fixed-notification-repeat.ng-enter,
    .fixed-notification-repeat.ng-leave {
        -webkit-transition: all linear 0.5s;
        -moz-transition: all linear 0.5s;
        -ms-transition: all linear 0.5s;
        -o-transition: all linear 0.5s;
        transition: all linear 0.5s;
    }

        .fixed-notification-repeat.ng-leave.ng-leave-active,
        .fixed-notification-repeat.ng-move,
        .fixed-notification-repeat.ng-enter {
            -ms-opacity: 0;
            opacity: 0;
            max-height: 0;
        }

            .fixed-notification-repeat.ng-leave,
            .fixed-notification-repeat.ng-move.ng-move-active,
            .fixed-notification-repeat.ng-enter.ng-enter-active {
                -ms-opacity: 1;
                opacity: 1;
                max-height: 40px;
            }

/*.fixed-notification-message-icon {
    display: block;
    width: 16px;
    height: 16px;
    left: 10px;
    position: absolute;
    top: 8px;
}

.fixed-notification-message-text {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    vertical-align: middle;
    margin: 0 30px;
    max-width: 90%;
    overflow: hidden;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.fixed-notification-close-button {
    display: block;
    width: 16px;
    height: 16px;
    background: url(images/fixed-notification-close-button.png) no-repeat center;
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;
}*/
