.fixed-table {
    position: relative;
}

    .fixed-table.custom-scroll {
        overflow: hidden;
    }

        .fixed-table.custom-scroll > table {
            position: relative;
        }

            .fixed-table.custom-scroll > table > thead > tr > div.top-scroll {
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: #F0F0F0;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                padding-left: 10px;
                padding-right: 3%;
                z-index: 99;
            }

        .fixed-table.custom-scroll > div.bottom-scroll {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding-left: 0;
            padding-right: 3%;
            /*float: right;*/
        }

    .fixed-table > table {
        border-collapse: separate;
        border: 0;
    }

        .fixed-table > table td,
        .fixed-table > table th {
            background-color: inherit;
        }

        .fixed-table > table > tbody th.fixed-column,
        .fixed-table > table > tbody td.fixed-column {
            position: relative;
            z-index: 7;
        }

        .fixed-table > table > thead th.fixed-header,
        .fixed-table > table > thead td.fixed-header {
            position: relative;
            z-index: 8;
        }

        .fixed-table > table > thead th.fixed-column,
        .fixed-table > table > thead td.fixed-column {
            position: relative;
            z-index: 9;
        }
