table.treetable > tbody > tr.loading {
    background-color: white;
}

.treetable {
}

    .treetable > thead > tr span.sort {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-position: center center;
        vertical-align: middle;
    }

        .treetable > thead > tr span.sort.sort-asc {
            background-image: url(images/asc.png);
        }

        .treetable > thead > tr span.sort.sort-desc {
            background-image: url(images/desc.png);
        }

    .treetable > tbody > tr {
    }

        .treetable > tbody > tr.l1 {
            /*background-color: #d1d1d1;*/
            font-weight: bold;
        }

            .treetable > tbody > tr.l1 > td:first-child {
            }

        .treetable > tbody > tr.l2 {
            /*background-color: #d8d8d8;*/
        }

            .treetable > tbody > tr.l2 > td:first-child {
                padding-left: 30px;
            }

        .treetable > tbody > tr.l3 {
            /*background-color: #e1e1e1;*/
        }

            .treetable > tbody > tr.l3 > td:first-child {
                padding-left: 60px;
            }

        .treetable > tbody > tr.l4 {
            /*background-color: #e8e8e8;*/
        }

            .treetable > tbody > tr.l4 > td:first-child {
                padding-left: 90px;
            }

        .treetable > tbody > tr.l5 {
            /*background-color: #f1f1f1;*/
        }

            .treetable > tbody > tr.l5 > td:first-child {
                padding-left: 120px;
            }

        .treetable > tbody > tr.l6 {
            /*background-color: #f8f8f8;*/
        }

            .treetable > tbody > tr.l6 > td:first-child {
                padding-left: 150px;
            }

        .treetable > tbody > tr.l7 {
            /*background-color: #fbfbfb;*/
        }

            .treetable > tbody > tr.l7 > td:first-child {
                padding-left: 180px;
            }

        .treetable > tbody > tr > td:first-child > a.treetable-toggle {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-position: center center;
            vertical-align: middle;
        }

            .treetable > tbody > tr > td:first-child > a.treetable-toggle.expand {
                background-image: url(images/toggle-exp-dark.png);
            }

            .treetable > tbody > tr > td:first-child > a.treetable-toggle.collapse {
                background-image: url(images/toggle-col-dark.png);
            }
