<td data-ng-repeat="column in item.columns" colspan="{{column.colspan}}" style="padding-left: {{column.padding}}" data-ng-controller="treetableCellController">
    <a data-ng-if="first && item.isParent" href="#" data-ng-click="toggleTreeTableRow(item)" ng-class="{true:'collapse', false:'expand'}[item.isExpanded]" class="treetable-toggle"></a>
    <div data-ng-treetable-cell-template="" data-item="item" data-item-column="column" class="template">
    </div>
    {{column.hasTemplate ? "" : column.value}}
</td>
