<table data-ng-controller="treeTableController" class="treetable">
    <thead>
        <tr>
            <th data-ng-repeat="column in columns"><a href="#" data-ng-click="sort($index)" data-ng-bind="column"></a></th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-tree-table-row="" data-ng-repeat-start="item in (processedItens | treetableRowFilter)" data-item="item" class="l{{item.level}}" data-toggle-tree-table-row="toggleTreeTableRow">
        </tr>
        <tr data-ng-repeat-end="" data-ng-if="item.isLoading" class="l{{item.level+1}} loading">
            <td colspan="999">Carregando
            </td>
        </tr>
    </tbody>
</table>
